html, body {
  min-height: 2000px;
  width: 100%;
}

.navbar{
  background-color: #191970;
}
.jumbotron{
  background-color: #f3f4f5;
  padding-top: 6rem;
}
img {
  padding-top:5%;
}
.about{
  padding-bottom: 5%;
}
h1{
  padding-bottom: 0%;
}
h2{
  padding-bottom: 2%;
}

.projects{
  background-color: #f3f4f5 ;
}

footer{
  background-color: #191970;
}

section{
  padding-top: 5rem;
}

